      <h2> About Us </h2>
      <p>Top Service Property Management, LLC. takes communities to the next level. With far surpassing service and focus, Top Service Property Management, LLC. makes the difference for Miami's home owner associations.</p>
      <ul>
        <li>Our specialty is collections and improving cash flow for the community.</li>
        <li>Our legal services come at no cost to the association and our payment plan system for collecting debt is setup inhouse.</li>
        <li>Full transprency is provided on all financial documents for anyone to review at our office with prior notice.</li>
      </ul>

